<!--
 * @GroupName MoonsterDigital
 * @FileName COMP229_W2022-Group4-MoonsterDigital
 * @CourseCode COMP229
 * @Date Mar 30th 2022
 * @CourseName Web Application Development SEC005
-->

<!-- Index Page -->
<!-- Main Content -->

<body class="body-background">
    <main class="container">
        <div class="justify-content-start">
            <!-- Website-Introduction -->
            <h3>{{ title }}</h3>
            <div class="d-flex justify-content-end align-items-center">
                <a href="/tournament/add" class="btn btn-orange" role="button"><i class="fas fa-plus"></i> <b>Create
                    Tournament</b></a>
            </div>
        </div>
        <table style="position:relative; top:10px;" id="sortTable"
            class="table table-sortable table-striped table-light table-hover table-sm">
            <thead>
                <!-- Header Row-->
                <tr>
                    <th class="text-center col-1">Owner</th>
                    <th class="text-center col-1">Title</th>
                    <th class="text-center col-2">Description</th>
                    <th class="text-center col-1">Active </th>
                    <th class="text-center col-1">Completed</th>
                    <th class="text-center col-1">Players</th>
                    <th class="text-center col-1">Start Date </th>
                    <th class="text-center col-1">End Date</th>
                    <th class="text-center col-1">Rounds</th>
                    <th *ngIf='isLoggedIn()' class="text-center col-1"></th>
                    <th *ngIf='isLoggedIn()' class="text-center col-1"></th>
                </tr>
            </thead>
            <!-- Repeatable Template Row -->
            <tbody>
                <tr *ngFor='let tournament of tournaments'>
                    <td class="text-center col-1">
                        {{ tournament.owner }}
                    </td>
                    <td class="text-center col-1">
                        {{ tournament.title }}
                    </td>
                    <td class="text-center col-2">
                        {{ tournament.description }}
                    </td>
                    <td class="text-center col-1">
                        {{ tournament.isActive }}
                    </td>
                    <td class="text-center col-1">
                        {{ tournament.isCompleted }}
                    </td>
                    <td class="text-center col-1">
                        {{ tournament.players }}
                    </td>
                    <td class="text-center col-1">
                        {{ getSplittedISODateString(tournament.startDate!) }}
                    </td>
                    <td class="text-center col-1">
                        {{ getSplittedISODateString(tournament.endDate!) }}
                    </td>
                    <td class="text-center col-1">
                        {{ tournament.rounds }}
                    </td>

                    <td *ngIf='isLoggedIn()' class="text-center col-1">
                        <button class="btn btn-sm btn-primary m-1" (click)='editTournament(tournament._id!)'>
                            <i class="fas fa-pencil-alt"></i> Edit
                        </button>
                    </td>
                    <td *ngIf='isLoggedIn()' class="text-center col-1">
                        <button class="btn btn-sm btn-danger m-1" (click)='deleteTournament(tournament._id!)'>
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>