<body class="body-background">

    <div class="tournament-container">
        <div class="tournament-headers">
          <h3 style="color:black;background: orange;">Quarter-Finals</h3>

        </div>
      
        <div class="tournament-brackets">
          <ul class="bracket bracket-1">
            <li class="team-item">Player1</li>
            <li class="team-item">Player2</li>
            <li class="team-item">Player3</li>
            <li class="team-item">Player4</li>
            <li class="team-item">Player5</li>
            <li class="team-item">Player6</li>
            <li class="team-item">Player7</li>
            <li class="team-item">Player8</li>
          </ul>  

      
     
        </div>
      </div>
      </body>