<body class="body-background">
<main class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="bg-danger mt-2 p-2 text-center text-white"
        *ngIf='errorMessage != null'>
        {{ errorMessage }}
      </div>
      <h3>Login</h3>
      <br>
      
      <form autocomplete='off'>

      <fieldset class="form-group mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control"
        [(ngModel)]='user.username'
        name='username'
        id='username' required autofocus autocomplete='off'>
      </fieldset>

      <!-- Password Field with Show and Hide Function-->
      <fieldset class="form-group mb-3">
        <label for="password" class="form-label">Password:</label>
        <div class="input-group">
        <input type="password" class="form-control"
        [(ngModel)]='user.password'
        name='password'
        id='passwordTextField' required autocomplete='off'>
        <div class="input-group-append">
          <button class="btn border-left-0 border" type="button" style="background-color: white;" onclick="ShowHidePassword()">
              <i class="fas fa-eye d-none" id="show_eye"></i>
              <i class="fas fa-eye-slash" id="hide_eye"></i>
          </button>
      </div>
      </div>
      </fieldset>

      <!-- Register Page Button -->
      <div>
        <p>Need an account? <a href="/register">Register</a></p>
     </div>

     <!-- Login Button -->
      <fieldset class="form-group text-right">
        <button class='btn btn-orange' type='submit'>
          <i class="fas fa-user-check"></i><b> Log In</b>
        </button>
      </fieldset>

    </form>
    </div>
  </div>
</main>
</body>
