<div class="card m-3 bg-dark text-light border border-light border-3 rounded">

   

    <div class=" card-header d-flex ">

        <div class="mr-4 p-2"><h1>{{topicTitle}}</h1></div>

        <div class="p-2"><a  [routerLink]="['/forum/add-edit-topic']" class="btn btn-light">Edit</a></div>

        <div class="p-2"><a [routerLink]="['#']"class="btn btn-light">Delete</a></div>

      </div>

   

   

    <div class="card-body border-top border-light">

     

      <p class="card-text">{{content}}</p>

      <p class="text-end"> {{date.toDateString()}} by {{userName}}</p>

     

    </div>

  </div>
